<div class='space_1 mrg2_t'>
  <div class="col">
    <div class="center">
      <a href="{{ dir }}connect"><img class='w95 mrg2_t' src='{{ dir }}public/assets/img/photos/marrakech1.jpg' alt='photo'></a>
    </div>
    <p class='txt_center txt_size30 txt_blue b'>Séjour de luxe</p>
  </div>
  <div class="col">
    <div class="center">
      <a href="{{ dir }}connect"><img class='w95' src='{{ dir }}public/assets/img/photos/marrakech14.jpg' alt='photo'></a>
    </div>
    <p class='txt_center txt_size30 txt_blue b'>Séjour romantique</p>
  </div>
  <div class="col">
    <div class="center">
      <a href="{{ dir }}connect"><img class='w100' src='{{ dir }}public/assets/img/photos/marrakech8.jpg' alt='photo'></a>
    </div>
    <p class='txt_center txt_size30 txt_blue b'>Séjour en famille</p>
  </div>
</div>