<header class=' space_2 pad1_l pad1_r'>
        <a class='txt_bold b txt_size30' href='{{dir}}produit'><img class="w30 mrg20_t" src="{{ dir }}public/assets/img/emmene_moi.png" alt=""></a>
        <nav class='modal w28 space_1 '>
            <a class='txt_bold b txt_size30' href='{{dir}}produit'>Séjours</a>
            <a class='txt_bold b txt_size30' href='{{dir}}panier'>Panier</a>
            <a class='txt_bold b txt_size30' href='{{dir}}disconnect'>Déconnection</a>
        </nav>
        <img class='w15 open-close' src='{{dir}}public/assets/img/burger_menu.svg' alt='photo'>
    </header>